[Ll]ibrary/
[Tt]emp/
[iI]OSBuild
[iI]OSBuildRelease
[aA]ndroidBuild
[aA]ndroidBuildRelease/
[aA]ndroidBuildRelease
osxBuild
*.DS_Store
*.csproj
*.sln
*.apk
*.DS_Store
EndlessShapeGame/Assets/Plugins/iOS/libAdToApp.a